# api id and api hash (my.telegram.org)
# required
API_ID='7880210'
API_HASH='1bb4b2ff1489cc06af37cba448c8cce9'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQASzhFZda-a0v2rd97WS1fPAy_Lz0cHmYVYo5Gi9k27va2zWat2GJhF3Yt81T_LOqsLRK5_8PPcbh1w0Iaq1u1TkFToYph2LZhXErIyRvda-ElkmkhlHphbnZO226nWQBSFS5xpTrFZ38axOrbSJqso2UmaYPv9VCvvX8mlWJRmg--m45GXZSuPcWM1Raj3IMHvJiUN0HID0t5SLUzjMbnSsWQQB98LdWQmVLR6PI6R1jMtSZzRmzQUXsmtbx8YWi7xgOi7Chd8HXbtMHUuU-cFBW3xLcbHTg0G_aiX2MfRQsAkjYPmT03X2SGv7C79VFYJPWUgij_BhaLIy9CWSv_SYbzVEgA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='5393472170:AAHOAilipKeK80pfgdf4oCn3ZbXSTys8h5k'

# sudo user ids (separate with space)
# optional
SUDOERS='1639765266'

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
